#topN{
    width: 50%;
    margin: auto;
}
#minRating{
    width: 50%;
    margin: auto;
}
#userid{
    width: 90%;
    margin: auto;
}
#restaurantid{
    width: 90%;
    margin: auto;
}
#radius{
    width: 70%;
    margin: auto;
}
#recommenderButtons1{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#recommenderButtons2{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#recommenderButtons3{
    margin: auto;
}
#recommenderButtons4{
    margin: auto;
}
#recommenderButtons5{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#grid-item1{
    margin: 5px;
    background-color: #1a364d;
    height: 200px;
}
#grid-item2{
    margin: 5px;
    background-color: #1a364d;
    height: 200px;
}
#grid-item3{
    margin: 5px;
    background-color: #1a364d;
    height: 200px;
}
#grid-item4{
    margin: 5px;
    height: 550px;
    background-color: #253b3b;
}
#grid-item5{
    margin: 5px;
    grid-row: 1 / span 3;
    grid-column: 2;
    background-color: #1a364d;
}
#grid-item6{
    margin: 5px;
    grid-row: 4;
    grid-column: 2;
    margin: 5px;
    height: 550px;
    background-color: #253b3b;
}
.paddCells{
    padding: 6px;
}

.grid-container {
    display: grid;
    grid-row-gap: 60px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 11% 11% 11% 67%;
    background-color: #091b2b;
    padding: 10px;
    color: aliceblue;
    height: 100%;
  }

#naslov{
    width: 100%;
    height: 50px;
    font-size: xx-large;
    background-color: #3d851cde;
    color: rgb(255, 255, 255);
  }

#restaurant_info{
    width: 98%;
    margin: 5px;
    text-align: left;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    font-size: larger;
    font-weight: 100;
    text-align: center;
}

.leftCells{
    background-color: #4a912942;
    width: 43%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}
.rightCells{
    background-color: #56744896;
    width: 53%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}
.middleCells{
    width: 4%;
}
#predRatingLeftCell, #predRatingRightCell{
    background-color: #cf5e4a79;
}
.leftCells:hover{
    background-color: #98a89079;
}
.rightCells:hover{
    background-color: #98a89079;
}
.pictureButtons:hover{
    background-color: #98a89079;
}
